streamlit
PyMuPDF
pytesseract
pdf2image
Pillow
pandas
openpyxl
opencv-python-headless
googletrans==4.0.0-rc1
pyngrok
poppler-utils
tesseract-ocr
tesseract-ocr-eng
tesseract-ocr-spa
tesseract-ocr-fra
tesseract-ocr-deu
tesseract-ocr-chi-sim
tesseract-ocr-msa
tesseract-ocr-tam
tesseract-ocr-hin
