streamlit==1.3.1
PyMuPDF==1.18.13
pytesseract==0.3.8
pdf2image==1.16.0
Pillow==8.4.0
pandas==1.3.4
openpyxl==3.0.9
opencv-python-headless==4.5.4.60
googletrans==4.0.0-rc1
pyngrok==5.1.0
poppler-utils==0.86.1
tesseract-ocr==0.0.1
tesseract-ocr-eng==0.0.1
tesseract-ocr-spa==0.0.1
tesseract-ocr-fra==0.0.1
tesseract-ocr-deu==0.0.1
tesseract-ocr-chi-sim==0.0.1
tesseract-ocr-msa==0.0.1
tesseract-ocr-tam==0.0.1
tesseract-ocr-hin==0.0.1
